.card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 125px;
  margin-bottom: 115px;
}
.image__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}
.rowImages {
  display: flex;
  justify-content: space-between;
}
.imageItem {
  max-width: 90px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}
.imageItem:hover,
:focus {
  opacity: 0.6;
}
.imageItem.active > img {
  opacity: 0.5;
  border: 1px solid hsl(26, 100%, 55%);
}
.imageItem > img {
  border-radius: 10px;
}
.card__img {
  max-width: 445px;
  margin-bottom: 28px;
  cursor: pointer;
}
.card__img > img {
  border-radius: 14px;
}

.info {
  max-width: 465px;
}

.info__subtitle {
  display: block;
  margin-bottom: 20px;
  color: hsl(219, 9%, 45%);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  cursor: default;
}

.info__title {
  color: hsl(220, 13%, 13%);
  font-weight: 700;
  font-size: 46px;
  letter-spacing: -1px;
  line-height: 1;
  margin-bottom: 2rem;
  cursor: default;
}

.info__desc {
  display: inline-block;
  color: hsl(219, 9%, 45%);
  line-height: 1.5;
  margin-bottom: 1.3rem;
  cursor: default;
}

.newprice__wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 0.5rem;
  cursor: default;
}
.newprice {
  display: inline-block;
  color: hsl(220, 13%, 13%);
  font-weight: 700;
  font-size: 30px;
}
.discount {
  display: flex;
  width: 32px;
  height: 20px;
  padding: 3px 10px;
  background-color: hsl(220, 13%, 13%);
  color: hsl(0, 0%, 100%);
  text-align: center;
  border: none;
  border-radius: 6px;
}
.oldprice {
  color: hsl(219, 9%, 45%);
  text-decoration: line-through;
  margin-bottom: 1.7rem;
  cursor: default;
}

.card__wrapper {
  display: flex;
  gap: 1rem;
}

.card__counter {
  display: flex;
  align-items: center;
  padding: 0 20px;
  background-color: hsl(220, 14%, 97%);
  border-radius: 10px;
}
.card__counter-input {
  width: 90px;
  text-align: center;
  border: none;
  background-color: hsl(220, 14%, 97%);
  font-weight: 700;
}

.img__wrapper {
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  transition: opacity 0.3s ease-in-out;
}

.icon__wrapper {
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  transition: opacity 0.3s ease-in-out;
}

.icon__wrapper:hover,
:focus {
  opacity: 0.6;
}

.img__wrapper:hover,
:focus {
  opacity: 0.6;
}

.card__btn {
  display: flex;
  gap: 16px;
  color: hsl(220, 13%, 13%);
  background-color: hsl(26, 100%, 55%);
  border: none;
  border-radius: 10px;
  padding: 18px 74px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.card__btn > svg path {
  fill: hsl(220, 13%, 13%);
}
