.gallery {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}
.rowImages {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gallery__img {
  max-width: 445px;
  margin-bottom: 28px;
  cursor: pointer;
  overflow: hidden;
}
.gallery__img img {
  width: 100%;
  height: 100%;
  border-radius: 14px;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 768px) {
  .gallery {
    flex-direction: row;
    gap: 30px;
    max-height: 440px;
    overflow: hidden;
  }
  .gallery__img {
    margin-bottom: 0;
  }
  .rowImages {
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    gap: 20px;
    min-width: 100px;
    max-height: 440px;
  }
}
@media screen and (max-width: 550px) {
  .gallery {
    max-width: 100%;
  }
  .rowImages {
    display: none;
  }
}
