.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 165px;
  position: relative;
}

.header::after {
  content: "";
  position: absolute;
  top: 106px;
  width: calc(100vw - 165px * 2);
  height: 1px;
  background-color: hsl(220, 14%, 75%);
}

.header__wrapper {
  display: flex;
  gap: 2.3rem;
}

.navList {
  display: flex;
}
.navList__item:last-child {
  margin-right: 0;
}

.navList__item {
  margin-right: 1.5rem;
  list-style: none;
  color: hsl(219, 9%, 45%);
}

.cart {
  display: flex;
  align-items: center;
}

.profile {
  width: 50px;
}
.profile > img {
  width: 100%;
}
