*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: hsl(0, 0%, 100%);
  font-size: 16px;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
}

img {
  width: 100%;
}

.btn {
  color: hsl(220, 13%, 13%);
  background-color: hsl(26, 100%, 55%);
  border: none;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.card__btn {
  display: flex;
  gap: 16px;
  padding: 18px 74px;
}
.btn > svg path {
  fill: hsl(220, 13%, 13%);
}

.btn:hover {
  background-color: hsl(25, 100%, 75%);
}
