//Variables
$clr-primary: hsl(26, 100%, 55%);
$clr-primary-hover: hsl(25, 100%, 94%);
$clr-white: hsl(0, 0%, 100%);
$clr-subtitle-price:hsl(219, 9%, 45%);
$clr-text:hsl(220, 13%, 13%);
$clr-info: hsl(220, 14%, 75%);

$fs: 16px;
$ff: 'Kumbh Sans', sans-serif;
$fw-400: 400;
$fw-700: 700;